.desktop-tile {
    color: #2d2d2d;
    width: 800px;
    height: 550px;
    text-align: center;
    border: 1px solid #2d2d2d;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    background-color: #fcfeff;
    margin: 10px;
}

.city {
    float: left;
}

.desktop-tile .temp {
    float: right;
}

.top-container {
    overflow: auto;
    height: 80px;
}

.currently {
    overflow: auto;
}

.chart {
    margin: 0px auto;
    height: auto; 
}

.chart canvas {
    display: inline-block;
}

.desktop-temp {
    font-size: 56px;
    float: left;
    padding: 0px 10px;
    line-height: auto;
}

.desktop-temp .far {
    font-size: 32px;
    float: right;
    position: relative;
    top: 8px;
}

.desktop-summary {
    margin: 5px 0px;
    font-size: 24px;
    display: block;
    font-family: 'Pacifico', cursive;
    float: right;
    position: relative;
    top: 5px;
}

.mini-tiles {
    margin-top: 27px;
}