html {
  background: linear-gradient(-150deg, #009688 0%, #CDDC39 97%);
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.prompt-container {
  text-align: center;
}

.header {
  font-family: 'Muli', sans-serif;
  text-align: center;
  background-color: #545454;
  color: #fafafa;
  height: auto;
  padding: 20px 0px;
  border-bottom: 1px solid black;
}

.header h1 {
    font-size: 60px;
}

.header h2 {
  font-size: 20px;
}

.header h4 {
  font-size: 12px;
}

.data {
  padding-top: 10px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #2d2d2d;
  text-align: center;
}

.weather {
  height: 100%;
}

.weather .top span {
  display: block;
}

.slick-dots li button:before {
  font-size: 13px;
}

.slick-dots {
  margin: 0px;
}

.cursive {
    font-family: 'Pacifico',
    cursive;
}

.day {
  font-size: 36px;
  font-family: 'Pacifico', cursive;
}

.tile {
  padding-top: 10px;
  min-height: 250px;
  max-width: 200px;
  width: 100%;
  color: #2d2d2d;
  text-align: center;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
  display: block;
  background-color: #fcfeff;
  margin-bottom: 20px;
}

.tile .summary {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 14px;
}

.tiles {
  text-align: center;
}

.tile-container {
  margin: 0px auto;
}

.chartjs-render-monitor {
  max-width: 900px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}