.mtday{
  font-size: 12px;
  font-family: 'Pacifico', cursive;
}

.minitile {
  color: #2d2d2d;
  width: 80px;
  height: 100px;
  text-align: center;
  border:1px solid #2d2d2d;
  border-radius: 10px;
  padding: 3px;
  display: inline-block;
  background-color: #fcfeff;
margin: 5px;
  transition-duration: 0.1s;
}

.minitile:hover {
  transform: scale(1.05);
}

.mtimg {
  margin: -10px 0px;
}

.mtimg img {
  width: 100%;
  height: auto;
  margin: 0px auto;
  padding-top: 0px;
}

.mttemps {
  overflow: auto;
  padding: 0px 3px;
}

 .mttemp-hi {
  float: left;
  font-size: 12px;
}

 .mttemp-lo {
  float: right;
  font-size: 12px;
}

 .mtarrow {
  display: inline-block;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 6px;
  vertical-align: top;
}

 .mtfaren {
  margin-top: 1px;
  display: inline-block;
  font-size: 8px;
  vertical-align: top;
}