.prompt {
    height: 100%;
    text-align: center;
}

.prompt h1 {
    font-family: 'Pacifico', cursive;
    font-size: 72px;
    border-radius: 10px;
    color: white;
    width: 350px;
    margin: 75px auto;
}

.prompt button {
    margin: 25px auto;
    display: block;
}

.zip-input {
    text-align: center;
    font-size: 32px;
    width: 75%;
    border-radius: 5px;
}

.search-button {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 30px;
    width: 250px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 5px;

}