.day{
  font-size: 36px;
  font-family: 'Pacifico', cursive;
}

.tile-button-container {
  border: none;
  background: none;
}

.tile {
  color: #2d2d2d;
  width: 200px;
  min-height: 300px;
  text-align: center;
  border:1px solid #2d2d2d;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  display: inline-block;
  background-color: #fafafa;
  margin: 10px;
}

.img {
  margin: -50px;
}

.img img{
  width: 85%;
  height: auto;
  margin: 0px auto;
  padding-top: 0px;
}

.temps {
  overflow: auto;
}

.temp-hi {
  float: left;
  font-size: 18px;
}

.temp-lo {
  float: right;
  font-size: 18px;
}

.arrow {
  display: inline-block;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 10px;
  vertical-align: top;
}

.faren {
  margin-top: 1px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.tile .summary {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 14px;
  height: 45px;
  padding: 5px 10px 0px 10px;
}

.more span {
  font-family: 'Pacifico', cursive;
  float: right;
  color : lightgray;
}

.cursive {
  font-family: 'Pacifico', cursive;
  float:left;
  font-size: 14px;
}

.flipped {
  margin: 70px auto;
  width: 125px;
  text-align: right;
}
.flipped span{
  font-size: 12px;
  line-height: 12px;
}

.flipped div {
  height: 25px;
}